<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link rel="stylesheet" href="../../../../../../../Documents/Arquienge%20-%20Geral/telas-arquienge/css/style.css">
    <link rel="stylesheet" href="../../../../../../../Documents/Arquienge%20-%20Geral/telas-arquienge/css/admin-style.css">
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/29a74e2c62.js" crossorigin="anonymous"></script>
    <title>Arquienge</title>
</head>
<body>

    <!--
        <i class="fas fa-bars"></i>
    -->

    <!-- BARRA TOPO -->
    <div class="barra-topo">
        <h4 style="text-align: center; " id="infoLocal" class="info-local">Área do administrador</h4>
    </div>

    <!-- CONTEUDO -->
    <div class="conteudo">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex align-items-center justify-content-center ">
                    <div class="menu-admin">    
                        <ul>
                            <li>
                                <a href=""><i class="fas fa-plus" style="margin-right: 6px;"></i> Novo proprietário</a>
                            </li>
                            <li>
                                <a href=""><i class="fas fa-edit"></i> Editar e excluir</a>
                            </li>
                            <li>
                                <a href=""><i class="fas fa-search" style="margin-right: 1px;"></i> Consultar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="../../../../../../../Documents/Arquienge%20-%20Geral/telas-arquienge/js/script.js"></script>

</body>
</html>