<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">

</head>
<body>
<table>
    <thead>
    <tr>
        <th> Nome </th>
        <th> Sobrenome </th>
        <th> CPF </th>
        <th> Nascimento </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${engenheiro.nome != null ? engenheiro.nome : 'NOT FOUND'}"/>
        <td th:text="${engenheiro.sobrenome != null ? engenheiro.sobrenome : 'NOT FOUND'}"/>
        <td th:text="${engenheiro.cpf != null ? engenheiro.cpf : 'NOT FOUND'}"/>
        <td th:text="${engenheiro.nascimento != null ? engenheiro.nascimento : 'NOT FOUND'}"/>
    </tr>
    </tbody>
</table>
</body>
</html>