@import "./variables";
@import "./config";

.menu-admin{
    display: inline-block;
    ul{
        
        li{
            padding: 10px 15px;
            a{
                color: $textPurple;
                font-size: 30px;
                text-decoration: none;
                padding: 10px 15px;
                border-radius: 3px;
                font-weight: bold;
                &:hover{
                    background-color: #f1e6f5;
                    text-decoration: none;
                }
            }
        }
    }
}