* {
  font-family: 'Helvetica  Neue', 'Helvetica', Neue;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #8195b4 !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
          box-shadow: 0 0 0px 1000px #FFF inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.barra-titulo {
  width: 100%;
  height: 55px;
  padding: 10px;
  background-color: #FFF;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.barra-titulo .info-local {
  color: #141121;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
  padding: 0;
}

.btn-diario {
  border: 1px solid #e0e0e0;
  display: inline-block;
  margin-top: -5px;
  margin-bottom: 15px;
  margin-left: 15px;
  border-radius: 3px;
  position: relative;
}

.btn-diario .float .icon-btn {
  padding: 10px 15px;
  position: absolute;
  width: 47px;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #e0e0e0;
}

.btn-diario .float .title-btn {
  width: 100px;
  margin-left: 47px;
}

.btn-diario .float .title-btn p {
  color: #141121;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px 15px;
}

.btn-diario .float .title-btn p:hover {
  color: #fff;
}

.btn-diario .float .title-btn:hover {
  background-color: #141121;
  cursor: pointer;
}

.padding {
  padding: 5px 10px !important;
}

.editar-campos label {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  color: #141121;
}

.editar-campos input {
  display: block;
  color: #8195b4;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.editar-campos input:focus {
  outline: none;
  border-bottom: 1px solid #3a8dcf;
}

.editar-campos input:disabled {
  background: #fff;
  border: none;
}

.table-pessoas table {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border-top: 1px solid #e0e0e0;
}

.table-pessoas table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.table-pessoas table tbody tr td h1 {
  color: #141121;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.table-pessoas table tbody tr td h2 {
  color: #444055;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.table-pessoas table tbody tr:hover {
  background-color: #f8f6f6;
  cursor: pointer;
}

.maquinas-ferramentas table {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border-top: 1px solid #e0e0e0;
}

.maquinas-ferramentas table tbody tr th {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.maquinas-ferramentas table tbody tr th:hover {
  cursor: default;
}

.maquinas-ferramentas table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.maquinas-ferramentas table tbody tr td h1 {
  color: #141121;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.maquinas-ferramentas table tbody tr .td-maldita {
  border: none;
}

.maquinas-ferramentas table tbody tr:hover {
  background-color: #f8f6f6;
  cursor: pointer;
}

.conteudo-cep {
  padding: 0;
}

.conteudo-cep .input-cep {
  float: left;
  width: calc(100% - 110px);
}

.conteudo-cep .input-cep input {
  margin-bottom: 0 !important;
  margin-top: 5px;
}

.conteudo-cep .btn-pesquisar-cep {
  display: none;
  width: 100px;
  float: right;
  padding: 3px 10px;
  background: #3a8dcf;
  border-radius: 2px;
  color: #fff;
}

.conteudo-cep .btn-pesquisar-cep:hover {
  background: #256ca5;
  cursor: pointer;
}

.conteudo-cep .disabled {
  background-color: #89bde7;
  cursor: default;
}

.conteudo-cep .disabled:hover {
  background-color: #89bde7;
  cursor: default;
}

.btn-remover {
  padding: 4px 6px;
  background: #3a8dcf;
  border-radius: 2px;
  color: #fff;
}

.btn-remover:hover {
  background: #256ca5;
  cursor: pointer;
}

.td-maldita {
  padding: 10px !important;
  width: 100px;
}

.display-none {
  display: none;
}

.btn-changes {
  float: right;
}

.btn-changes button {
  border: none;
  padding: 5px 10px;
  background: #3a8dcf;
  border-radius: 2px;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-changes button:focus {
  outline: none;
}

.btn-changes button:hover {
  background: #256ca5;
  cursor: pointer;
}

.btn-changes .btn-editar {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
}

.info-data-diario {
  margin-bottom: 20px;
  margin-left: 10px;
}

.info-data-diario h1 {
  color: #141121;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.info-data-diario h2 {
  color: #141121;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=editar-obras.css.map */